.picture-list-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-bottom: 2.5em;
}

.pictureContainer {
  display: flex;
  flex-direction: column;
}

.picture {
  height: 300px;
  width: 300px;
}

.section-count {
  margin-left: 1em
}

.picture-list-filter {
  flex-basis: 50%;
  flex-grow: 1;
  background-color: #ccc;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  cursor: pointer;
}

.picture-list-filter:hover {
  background-color: hsl(177, 70%, 46%);
}

.picture-list-filter.is-active {
  background-color: lightseagreen;
}